
.block {
  padding: 50px;
}

.row {
  padding-left: 64px;
  padding-right: 64px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 12px;
}

.rowText {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
}

.element {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 250px;

  input {
    height: max-content;
  }
}

.info {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 14px;
}